@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf');  
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf');  
  font-weight: 400;
  font-style: normal;
}

body {
	font-family: "Lato";
	color: #fff;
}

header {
	max-width: 100%;
	background: url(img/header-background.jpg) no-repeat center top;
	background-size: 100% auto;
}

h1 {
	margin-bottom: 35px;
}

.menu-contain {
	display: block;
	padding-top: 25px;
	height: 115px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	margin-bottom: 65px;
}

.menu-contain .company-name {
	font-size: 35px;
	color: #fff;
}

.menu-contain .company-name:hover{
	text-decoration: none;
}

.menu {
	padding-top: 10px;
}

.menu ul li{
	display: inline-block;
}

.menu li{
	display: inline-block;
}

.menu ul li a{
	margin: 0 16px;
	color: #fff;
	font-weight: 300;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	font-size: 17px;
}

.menu ul li a.magnifying-glass {
	background: url(img/magnifying-glass.png) no-repeat center center;
	width: 24px;
	height: 26px;
	margin-bottom: -5px;
}

.menu ul li a:hover{
	border-bottom: solid 2px #2e8880;
	margin-bottom: 5px;
	text-decoration: none;
}

.menu ul li a.magnifying-glass:hover{
	border: 0;
	margin-bottom: -5px;
	text-decoration: none;
}

.question {
	margin-bottom: 55px;
}

.question .info {
	padding: 25px;
	background-color: rgb(86,84,88);
    /* RGBa with 0.6 opacity */
    background-color: rgba(86,84,88, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.question .info .opinion {
	margin: 0px;
}

.question .info h1 {
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 55px; 
}

.question .info p {
	font-size: 17px;
	margin-bottom: 15px;
}

.question .info .more-info {
	margin-bottom: 30px;
}

.question .info img{
	margin-top: -2px;
}

.question .info .more{
	text-decoration: underline;
	color: #fff;
	font-size: 13px;
	margin-left: 2px;
}

.question .info .verdict{
	font-weight: bold;
	margin-bottom: 0px;
}

.question .up{
	padding: 20px;
	background-color: rgb(28,187,180);
    background-color: rgba(28,187,180, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    text-align: center;
    cursor: pointer;
}

.question .down{
	padding: 20px;
	background-color: rgb(255,173,29);
    background-color: rgba(255,173,29, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    text-align: center;
    cursor: pointer;
}

.closing {
	background-color: rgb(112,112,112);
    background-color: rgba(112,112,112, 0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    text-transform: uppercase;
    height: 50px;
}

.closing p{
	line-height: 52px;
}

.days {
	background-color: rgb(212,212,212);
    background-color: rgba(212,212,212, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    height: 50px;
}

.days h2 {
	color: #464646;
	margin: 0;
	line-height: 52px;
	font-size: 35px;
	font-weight: ;
}

.days h2 span{
	font-weight: bold;
}

footer .submit-name {
	background: url(img/footer-background.jpg) no-repeat center center;
	background-size: 100% auto;
	padding: 20px;
	margin-bottom: 30px;
	color: #333;
}	

footer .submit-name p{
	font-size: 29px;
	margin-bottom: 0;
}	

footer .submit-name button {
	float: right;
	background: transparent;
	padding: 7px 15px;
	border: 2px solid #333; 
	font-size: 20px;
}

footer .footer-up {
	background: url(img/points.png) repeat-x top;
	padding: 10px 0;
}

footer .menu li a{
	color: #333;
	font-size: 14px; 
	margin: 0 15px 0 0;
}

footer .menu li a:hover{
	border-bottom: solid 1px #333;
}

.folow {
	margin-top: 15px;
}

.folow li{
	display: inline-block;
	color: #333;
	margin-left: 15px;
}

#main {
	padding: 25px 0;
	color: #333;
}

.message {
	padding: 15px;
	background-color: #ebebeb;
	color: #333;
}	

.message p.rule{
	font-size: 15px;
	line-height: 21px;
	margin: 2px 0 0 0;
}

.message .speak{
	font-size: 19px;
	margin: 0;
	line-height: 15px;
}	

.message .counted{
	font-size: 32px;
	margin: 0;
	font-weight: bold;
	line-height: 37px;
}	

.message .close {
	padding-top: 10px;
	padding-left: 5px;
}	

.personage {
	position: relative;
	color: #fff;
	margin-bottom: 30px;
}

.personage img.background{
	width: 100%;
}	

.personage .info-per {
	position: absolute;
	bottom: 0;
	height: 324px;
	width: 95%;
}

.personage .info-per h2{
	font-size: 55px;
	padding-left: 45px;
}

.personage .info-per h2.up{
	background: url(img/up-p.png) no-repeat left 20px;
}

.personage .info-per h2.down{
	background: url(img/down-p.png) no-repeat left 20px;
}

.personage .info-per p {
	padding-left: 45px;
	padding-right: 45px;
	font-size: 17px;
}

.personage .info-per p.time{
	font-size: 14px;
}

.personage .vote-container{
	height: 90px;
}

.personage .barra div {
	height: 55px;
	float: left;
}

.personage .percentage {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.personage .percentage p{
	padding: 0 15px;
}

.personage .percentage .percentage-up{
	float: left;
	font-size: 22px;
	margin-bottom: 8px;
}
.personage .percentage .percentage-up img{
	margin-right: 8px;
	margin-top: -10px;
}

.personage .percentage .percentage-down{
	float: right;
	font-size: 22px;
	margin-bottom: 8px;
}

.personage .percentage .percentage-down img{
	margin-left: 8px;
	margin-top: -10px;
}

.personage .percentage .number{
	font-size: 30px;
}

.personage .barra .up-barra {
	background-color: rgb(28,187,180);
    background-color: rgba(28,187,180, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.personage .barra .down-barra {
	background-color: rgb(255,173,29);
    background-color: rgba(255,173,29, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.vote-container  {
	padding-left: 45px;
}

.vote-container input[type="radio"] {
    display:none;

}

.vote-container input[type="radio"].vote-up + label {
	width: 31px;
	height: 31px;
    background:url(img/up-p.png) no-repeat center center;
    cursor:pointer;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
}

.vote-container input[type="radio"].vote-down + label {
	width: 31px;
	height: 31px;
    background:url(img/down-p.png) no-repeat center center;
    cursor:pointer;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
}

.vote-container input[type="radio"]:checked + label {
    border: 2px solid #fff;
}

.vote-againe {
	display: none;
}

.personage .vote-againe  p{
	float: left;
	margin-top: 22px;
	padding: 0 10px;
}

.vote-container button {
	background: transparent;
	padding: 8px 20px;
	border: 1px solid #fff;
	margin-top: -10px;
	float: left;
	margin-top: 16px;
}

@media (max-width: 1200px) { 
	.menu-contain {
	    margin-bottom: 35px;
	}

	.question {
	    margin-bottom: 35px;
	}

	.personage .info-per {
	    width: 94%;
	}

	footer .submit-name p {
    	font-size: 20px;
	}

	footer .submit-name button {
    	padding: 0px 8px;
	}
}

@media (max-width: 960px) { 
	.menu-contain .company-name {
	    font-size: 30px;
	}

	.menu ul li a {
	    margin: 0 10px;
	    font-size: 15px;
	}

	footer .menu li a {
		font-size: 13px;
	}

	.menu-contain {
	    margin-bottom: 25px;
	}

	.question .info h1 {
	    font-size: 40px;
	}

	.question {
	    margin-bottom: 15px;
	}

	header {
		background-size: initial;
	}

	.personage .info-per {
	    width: 96%;
	    height: 300px;
	}


}

@media (max-width: 768px) { 
	.personage .info-per {
	    width: 96%;
	    height: 324px;
	}

	footer .submit-name {
		background: #DADADA;
	}

	footer .submit-name p {
    	text-align: center	
    }

	footer .submit-name button {
		float: none;
		margin: auto;
		display: block;
	}
}

@media (max-width: 576px){ 
	.personage .info-per {
	    width: 96%;
	    height: 348px;
	}
}

@media (min-width: 576px){
	
}