<div class="message">
	<div class="row">	
		<div class="col-xs-11">
			<div class="row">
				<div class="col-md-3">
					<p class="speak">Speak out. Be heard.</p>
					<p class="counted">Be counted</p>
				</div>
				<div class="col-md-9">
					<p class="rule">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
				</div>
			</div>
		</div>
		<div class="col-xs-1 text-right close">
			<a href="#"><img src="img/cruz.png"></a>
		</div>
	</div>
</div>
<h1>Votes</h1>
<div class="row">	
	<?php if(!empty($personages)) { ?>
		<?php foreach ($personages as $key => $personage) { ?>
			<div class="personage col-md-6" >
				<img class="background" src="<?php echo $personage['BrwImage']['main']['path']?>">
				<div class="info-per key-<?php echo $key; ?>">
					<h2 
					<?php if(!empty($personage['Personage']['up'])) { ?>
						class="up"
					<?php } else { ?>
						class="down"
					<?php } ?>
					><?php echo $personage['Personage']['name']?></h2>
					<p class="time"><b>1 month</b> in Entreteinment</p>
					<p>Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
					<div class="vote-container">
						<form class="form-vote" action="">
						  <input type="radio" id="personage-<?php echo $key; ?>-up" checked class="vote-up" name="vote-<?php echo $key; ?>" value="up">
						  <label for="personage-<?php echo $key; ?>-up"></label>
						  <input type="radio" id="personage-<?php echo $key; ?>-down" class="vote-down" name="vote-<?php echo $key; ?>" value="down">
						  <label for="personage-<?php echo $key; ?>-down"></label>
						  <button type="button" data-key="<?php echo $key; ?>" data-id="<?php echo $personage['Personage']['id']; ?>">Vote now</button>	
						</form>
						<div class="vote-againe">
							<button type="button" data-key="<?php echo $key; ?>">Vote again</button>	
							<p>Thank you for voting!</p>
						</div>
					</div>
					<div class="barra">
						<div class="up-barra" style="width: <?php echo $personage['Personage']['percentagePositive']?>%"></div>
						<div class="down-barra" style="width: <?php echo $personage['Personage']['percentageNegative']?>%"></div>
					</div>
					<div class="percentage ">
						<p class="percentage-up"><img src="img/up-big.png"><span class="number"><?php echo $personage['Personage']['percentagePositive']?></span>%</p>
						<p class="percentage-down"><span class="number"><?php echo $personage['Personage']['percentageNegative']?></span>%<img src="img/down-big.png"></p>
					</div>
				</div>
			</div>
		<?php } ?>
	<?php } ?>
</div>
<script type="text/javascript">
	var personage = '{ "personage" : [' +
	<?php if(!empty($personages)) { ?>
		<?php $first = true;?>
		<?php foreach ($personages as $key => $personage) { ?>
			<?php if(!$first) { ?>
				',' +
			<?php } ?>
			'{ "id":"<?php echo $personage['Personage']['id']?>" , "name":"<?php echo $personage['Personage']['name']?>" , "positive_votes":"<?php echo $personage['Personage']['positive_votes']?>" , "negative_votes":"<?php echo $personage['Personage']['negative_votes']?>"}' +
			<?php $first = false;?>
		<?php } ?>
	<?php } ?>
	']}'; 
	var obj = JSON.parse(personage); 
</script>